<div class="container" style="width:500px">
    <div id="main" *ngIf="showMain">
        <div id="printer_data_loading" *ngIf="showPrinterDataLoading">
            <span id="loading_message">{{textLoading}}</span><br/>
            <div class="progress" style="width:100%">
                <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div> <!-- /printer_data_loading -->
        <div id="printer_details" *ngIf="showPrinterDetails">
            <span>Using default printer {{selectedPrinter.name}}</span>
            <button type="button" class="btn btn-success" (click)="changePrinter()">Change</button>
        </div><br /> <!-- /printer_details -->
        <div *ngIf="showPrinterSelect">
            Zebra Printer Options<br />
            Printer: <select [(ngModel)]="selectedPrinter">
                        <option [ngValue]='printer' *ngFor="let printer of availablePrinters">{{printer.connection + ":" + printer.uid}}</option>
                     </select>
        </div> <!-- /printer_select -->
        <div id="print_form" *ngIf="showPrintForm">
            Text example: <textarea [(ngModel)]="label.text" maxlength="30" rows="2" cols="30"></textarea>
            <br />
            Code: <input type="text" [(ngModel)]="label.code"/>
            <br /><br />
            <button type="button" class="btn btn-lg btn-primary" (click)="sendData()" value="Print">Print Label</button>
        </div> <!-- /print_form -->
    </div> <!-- /main -->
    <div id="error_div" *ngIf="showError">
        <div>{{textError}}</div>
        <button type="button" class="btn btn-lg btn-success" (click)="retrySetup()">Try Again</button>
    </div><!-- /error_div -->
</div><!-- /container -->